In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [6]:
# Read the CSV file
df = pd.read_csv('your_data.csv', parse_dates=['datetime'])

# Get a list of unique months
unique_months = df['datetime'].dt.strftime('%Y-%m').unique()

# Create a dataframe for each month
for i, month in enumerate(unique_months, start=1):
    month_df = df[df['datetime'].dt.strftime('%Y-%m') == month]
    globals()[f'df{i}'] = month_df

,Year,Month,Day,Hour,Minute,DNI,DHI,GHI,DewPoint,Temperature,Pressure,RelativeHumidity,WindDirection,WindSpeed,SurfaceAlbedo,datetime
0,2022,1,1,0,30,0,0,0,14.1,14.4,979,97.78,235,4.5,0.15,2022-01-01 00:30:00
1,2022,1,1,1,30,0,0,0,14.2,14.6,979,97.39,238,4.9,0.15,2022-01-01 01:30:00
2,2022,1,1,2,30,0,0,0,14.1,14.4,980,97.87,241,4.6,0.15,2022-01-01 02:30:00
3,2022,1,1,3,30,0,0,0,13.4,13.4,979,99.80,240,3.2,0.15,2022-01-01 03:30:00
4,2022,1,1,4,30,0,0,0,12.1,12.1,978,100.00,240,1.9,0.15,2022-01-01 04:30:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
739,2022,1,31,19,30,0,0,0,-4.5,-2.2,995,84.45,132,1.7,0.14,2022-01-31 19:30:00
740,2022,1,31,20,30,0,0,0,-4.6,-2.2,996,83.39,133,2.2,0.14,2022-01-31 20:30:00
741,2022,1,31,21,30,0,0,0,-4.6,-1.9,995,81.60,135,2.9,0.14,2022-01-31 21:30:00
742,2022,1,31,22,30,0,0,0,-4.5,-1.7,995,81.31,137,3.3,0.14,2022-01-31 22:30:00
743,2022,1,31,23,30,0,0,0,-4.4,-1.8,995,82.64,142,3.6,0.14,2022-01-31 23:30:00